@keyframes show{
    0%{
      opacity: 0;
      transform: translate(0, 24px) scale(.95);
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    80%{
        transform: scale(1);
    }
    100%{
      opacity: 1;
      transform: translate(0, 0) scale(1);
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }