*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

//Smooth Scroll
body::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;
}
// End Smooth Scroll

h1{
  font-size: 13vw;
}

img{
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(10vw + 100px);
  background-image: linear-gradient(120deg, #97ebd6, #9aa6f9);
  &:nth-child(2n){
    background-image: linear-gradient(30deg, #dc72ef, #fe0000);
  }
}

