*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "messapia-bold";
  src: url("/src/font/messapia-bold.woff2") format("woff2");
}

html,
body{
  height: 100%;
  // overflow: hidden;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: "messapia-bold", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: white;
  
  //Smooth Scroll
  &::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
  }
}
//Smooth Scroll
::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;
}

a{
  list-style: none;
  // color: white;
  color: inherit;
  text-decoration: none;
  pointer-events: auto;
}

img{
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.intro{
  display: none;
}

@media (prefers-reduced-motion: no-preference){
  .intro{
    background-color: black;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    animation: intro-box 1s 3s both cubic-bezier(0.45,0.05,0.55,0.95);
    .box{
      width: 360px;
      width: 35vw;
      height: 200px;
      height: 20vw;
      border: 1px solid white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      animation: grow-box 5s 1s both cubic-bezier(0.45,0.05,0.55,0.95);
      .column{
        display: flex;
        justify-content: inherit;
        span{
          padding: 24px;
        }
      }

    }
  }
}

section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-image: linear-gradient(120deg, #97ebd6, #9aa6f9);
  background-image: linear-gradient(120deg, #497cdd, #5076db);
  &:nth-child(2n){
    // background-image: linear-gradient(30deg, #727aef, #1900fe);
    background-image: linear-gradient(30deg, #1a66cb, #1b233e);
    figcaption{
      color: black;
    }
  }
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  figure{
    width: 80vw;
    @media (min-width: 768px){
      width: 33vw;
      width: 24vw;
    }
    margin: 0 auto;
    figcaption{
      color: white;
      font-size: 1.2em;
      pointer-events: none;
      @media (min-width: 768px){
        font-size: 3em;
      }
      position: fixed;
      top: 70%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      &.social{
        position: absolute;
      }
    }
  }

  img{
    opacity: 1;
  }

  &.in-view{
    // media user motion
    @media (prefers-reduced-motion: no-preference){
      img{
        animation: show .7s .2s both cubic-bezier(0.77,-0.13,0.54,1.15);
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) and (max-width: 400px){
  main{
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
  }

  section{
    scroll-snap-align: start;
  }
}